{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <small>Welcome Administrator!</small>
            </h1>
        </section>

        <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Sales
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content p-0">
                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane active" id="revenue-chart"
                             style="position: relative; height: 300px;">
                            <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                        </div>
                        <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                            <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div>
        </section>


        <div class="row">
            <section class="content">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-aqua elevation-1"><i class="fa fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Client</span>
                            <span class="info-box-number text-right">
                                20
                    </span>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-blue elevation-1"><i class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Categorie</span>
                            <span class="info-box-number text-right">
                2
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-red elevation-1"><i class="fa fa-undo"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Return</span>
                            <span class="info-box-number text-right">
                1            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-aqua elevation-1"><i class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Items</span>
                            <span class="info-box-number text-right">
                4            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

            </section>
        </div>

    </div>
{% endblock %}

