{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <small>Welcome Administrator!</small>
            </h1>
        </section>


        <div class="row">
            <section class="content">
                <div class="col-md-6 col-lg-3">
                    <div class="info-box bg-light shadow" style="border-radius:10px;">
                        <span class="info-box-icon elevation-1" style="background-color: #009688; border-radius:10px;"><i class="icon fa fa-users fa-x"></i></span>
                        <div class="info-box-content">
                            <h4 class="info-box-text text-bold">Client</h4>

                             <h4 class="text-bold"> {{ countClients }}</h4>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow"  style="border-radius:10px;">
                        <span class="info-box-icon bg-blue elevation-1"  style="border-radius:10px;"><i class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <h4 class="info-box-text text-bold">Categorie</h4>

                                <h4 class="text-bold"> {{ countCategories }}</h4>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow"  style="border-radius:10px;">
                        <span class="info-box-icon bg-red elevation-1"  style="border-radius:10px;"><i class="fa fa-undo"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text text-bold">Return</span>
                            <span class="info-box-number text-right">
                1            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow"  style="border-radius:10px;">
                        <span class="info-box-icon bg-aqua elevation-1"  style="border-radius:10px;"><i class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text text-bold">Tache</span>
                            <span class="info-box-number text-right">
                4            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


            </section>


        </div>
    </div>
{% endblock %}

