{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <small>Welcome Administrator!</small>
            </h1>
        </section>
        <div class="row">
            <section class="content">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-aqua elevation-1"><i class="fa fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Client</span>
                            <span class="info-box-number text-right">
                    </span>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-blue elevation-1"><i class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Categorie</span>
                            <span class="info-box-number text-right">
                2            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-red elevation-1"><i class="fa fa-undo"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Return</span>
                            <span class="info-box-number text-right">
                1            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow">
                        <span class="info-box-icon bg-aqua elevation-1"><i class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Items</span>
                            <span class="info-box-number text-right">
                4            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

            </section>
        </div>

    </div>
{% endblock %}

