{% extends 'base2.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Create new Client</h1>

<div class="form mb-2">
    {{ include('client/_form.html.twig') }}
</div>
    <a href="{{ path('app_client_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}


