<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Show Categorie</title>


<style>
    h1 {
        color: #333;
        font-size: 18px;
    }
    p {
        color: #666;
        font-size: 14px;
    }
</style>
</head>
<body>
    <h1>Informations du client</h1>

    <p>Nom: {{ client.nom }}</p>
    <p>Prénom: {{ client.prenom }}</p>
    <p>Email: {{ client.email }}</p>


</body>
</html>

