{% extends 'base.html.twig' %}

{% block title %}Hello EmailController!{% endblock %}

{% block body %}
    {# templates/send_email.html.twig #}

    <form action="{{ path('send_email') }}" method="post">
        <button type="submit">Send Email</button>
    </form>

{% endblock %}
