{% extends 'base.html.twig' %}
{% block title %}mettre a jour la categorie{% endblock %}

{% block body %}
    <div class="row my-4">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    Mettre a jour la categorie
                </div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}