<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the PDF</title>
</head>
<body>
<h4>{{ title }}</h4>
<p>mouad bakrim</p>


<section class="content">

    <div class="row">

        <label class="control-label col-md-2" for="">libellee :</label>
        <div class="col-sm-9">
            <p><input type='text' class="form-control" disabled="disabled"
                      placeholder="{{ categorie.libellee }}"></p>
        </div>
        <label class="control-label col-sm-2" for="">description :</label>
        <div class="col-sm-9">
            <p> <input type='text' class="form-control" disabled="disabled"
                       placeholder="{{ categorie.description }}"></p>
        </div>
        <label class="control-label col-sm-2" for=""> codeGroupe :</label>
        <div class="col-sm-9">
            <p> <input type='text' class="form-control" disabled="disabled"
                       placeholder="{{ categorie.codeGroupe }}"></p>
        </div>
    </div>
</section>


</body>
</html>