<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Show Categorie</title>

</head>
<body>
<h1>PDF Categorie</h1>

<h2>Categorie</h2>

<p>Libellee: {{ categorie.libellee }}</p>
<p>Description: {{ categorie.description }}</p>
<p>CodeGroupe: {{ categorie.codeGroupe }}</p>
</body>
</html>
