{% extends 'base2.html.twig' %}

{% block title %}categorie{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show categorie</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_categorie_index') }}">
                    View All categorie
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Libelle:</b>
                <p>{{ categorie.libelle }}</p>
                <b class="text-muted">Description:</b>
                <p>{{ categorie.description }}</p>
                <b class="text-muted">Code_Groupe:</b>
                <p>{{ categorie.codeGroupe }}</p>

            </div>
        </div>
    </div>
{% endblock %}