<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">


        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
        <!-- Bootstrap 3.3.5 -->
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('assets/js/login.js') }}"></script>






    {% endblock %}


</head>
{% block header %}




{% endblock %}
{% block body %}{% endblock %}




</html>
